form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

.App > form {
  display: flex;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.showForm {
  display: flex;
  flex-direction: column;
}

.hideForm {
  display: none;
}

textarea {
  font-family: Arial;
}
